* {
	font-family: 'VT323', monospace;
}

html, body {
	height: 100%;
	width: 100%;
}

header {
	text-align: center;
	background: #188bde;
	color: #fff;
	font-weight: 300;
}

button {
	display: block;
}

td, th {
	padding: 0 2em;
}

#start_div {
	margin-top: 8%;
}

#start_button {
	margin: 0 auto;
	text-align: center;
	width: 10em;
	height: 3em;
	font-size: 1em;
	background: #fff;
	border: 1px solid #000;
}

#start_button:hover {
	background: #188bde;
	color: #fff;
}

#game_div {
	display: none;
	justify-content: center;
}

#x_gif {
	width: 60px;
	display: block;
}

#x_gif2 {
	width: 80px;
	display: block;
}

#x_gif_reverse {
	width: 50px;
	display: block;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

#sigma_gif {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	z-index: 100;
}

.div_size {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 200px;
	width: 300px;
	margin-bottom: 10px;
}

.table_size {
	display: flex;
	justify-content: center;
}

#x_atk1_button, #x_atk2_button, #x_atk3_button {
	margin: 10px auto;
}

.flash_red {
	-moz-animation: flash .25s ease-out;
	-moz-animation-iteration-count: 1;
	-webkit-animation: flash .25s ease-out;
	-webkit-animation-iteration-count: 1;
	-ms-animation: flash .25s ease-out;
	-ms-animation-iteration-count: 1;
	-o-animation: flash .25s ease-out;
	-o-animation-iteration-count: 1;
}

#sigma_console-log > li {
	list-style: none;
	opacity: 0;
}

#sigma_console-log > li:nth-child(1) {
	opacity: 1;
}

#sigma_console-log > li:nth-child(2) {
	opacity: .75;
}

#sigma_console-log > li:nth-child(3) {
	opacity: .6;
}

#sigma_console-log > li:nth-child(4) {
	opacity: .4;
}

#sigma_console-log > li:nth-child(5) {
	opacity: .3;
}

#sigma_console-log > li:nth-child(6) {
	opacity: .2;
}

#sigma_console-log > li:nth-child(7) {
	opacity: .1;
}

@-webkit-keyframes flash {
	0% {background: none;}
	50% {background: red;}
	100% {background: none;}
}

@-moz-keyframes flash {
	0% {background: none;}
	50% {background: red;}
	100% {background: none;}
}

@-o-keyframes flash {
	0% {background: none;}
	50% {background: red;}
	100% {background: none;}
}

#x_notice, #x_notice2 {
	color: #188bde;
	font-size: 2em;
	display: flex;
	justify-content: center;	
}

#sigma_notice {
	height: 80px;
}

#sigma_notice, #sigma_notice2 {
	color: red;
	font-size: 2em;
	display: flex;
	justify-content: center;
}

#x_notice2, #sigma_notice2 {
	height: 2em;
}

.add_red {
	background: rgba(255,15,15,.5);
	border-radius: 500px;
	z-index: 200;
}